<p-toast position="top-center"></p-toast>
<div class="dialog-header">
  <div class="row">
    <div class="col-md-12">
      <h3 class="mb-2">Description</h3>
      <p class="description">
        eu tincidunt in leo maecenas pulvinar lobortis est phasellus sit amet
        erat nulla tempus vivamus in felis eu sapien cursus
      </p>
    </div>
    <div class="col-md-6">
      <div class="form-group mb-3">
        <div>
          <label for="userName" class="label">Name</label>
        </div>
        <input
          type="text"
          name="userName"
          id="userName"
          readonly
          value="User 1"
          class="form-control"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group mb-3">
        <div>
          <label for="userName" class="label">Date</label>
        </div>
        <input
          type="text"
          name="userName"
          id="userName"
          readonly
          value="04/03/2023"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-6">
      <div class="label">Start time</div>
      <p class="flex align-items-center m-0">
        <i class="pi pi-fw pi-clock text-700 mr-2"></i
        ><span>{{ selectedData?.start | date : "shortTime" }}</span>
      </p>
    </div>
    <div class="col-6">
      <div class="label">End time</div>
      <p class="flex align-items-center m-0">
        <i class="pi pi-fw pi-clock text-700 mr-2"></i
        ><span>{{ selectedData?.end | date : "shortTime" }}</span>
      </p>
    </div>
  </div>
  <div class="row my-3 m-0">
    <h4 class="mb-2 p-0 plan-title">Choose your plan</h4>
    <div
      class="card mb-3"
      *ngFor="let plan of plans; let i = index"
      [ngClass]="{ active: plan.selected }"
    >
      <div class="skill-card" (click)="makeCardSelected(plan, i)">
        <div class="skill-block">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="pricing"
              [id]="i"
              value="premium"
              [checked]="plan.selected"
            />
          </div>
          <div class="skills">
            <h5 class="card-title">{{ plan.planName }}</h5>
            <ul>
              <li class="badge badge-pill" *ngFor="let skill of plan.skills">
                {{ skill }}
              </li>
            </ul>
          </div>
        </div>
        <div class="price-block">
          <h5 class="price">&#8377; 119</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="dialog-footer">
    <div class="btn-block">
      <button type="button" (click)="closeDialog()" class="btn cancel-btn" aria-labelledby="schedule the interview">Cancel</button>
      <button type="button" (click)="scheduleInterview()" class="btn submit-btn" aria-labelledby="schedule the interview">Schedule</button>
    </div>
  </div>
</div>
