.dialog-header {
  h3 {
    color: #3c3c3c;
    font-weight: 600;
    font-size: 16px;
  }
  .description {
    font-size: 14px;
    color: #495057;
    margin-bottom: 15px;
  }
  .label {
    color: #212121;
    font-weight: 600;
    font-size: 14px;
  }
  input[type=text] {
    color: #495057;
    background: #ffffff;
    padding: 0.75rem 0.75rem;
    border: 1px solid #ced4da;
    font-size: 14px;
  }
  .plan-title {
    font-weight: 700;
    font-size: 16px;
  }
}
.card {
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #d3d3d3;
  box-shadow: none;
  border-radius: 10px;
  transition: all .7s ease-out;
  &.active {
    background-color: #5f30e2;
    .badge {
      background-color: #7951e7 !important;
      color: #b7a1f1 !important;
    }
    h5{
      color: #FFFFFF !important;
    }
    .form-check-input:checked {
      background-color: #FFFFFF !important;
      border: none !important;
      padding: 0.7rem !important;
    }
    svg {
      fill: #FFFFFF;
    }
    .form-check-input:checked[type=radio]{
      background-image: url('/assets/icons/check-icon.svg');
    }
  }
}

.skill-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  .skill-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .skills {
      h5{
        margin-left: 15px;
        margin-bottom: 5px;
      }
    }
    ul {
      display: flex;
      align-items: center;
      padding: 0 10px;
      li {
        padding: 5px 10px;
        margin-left: 5px;
        &.badge {
          background-color: #feeeee;
          color: #f86438;
        }
      }
    }
  }
  .price-block {
    color: #000000;
    font-size: 25px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }
}
.dialog-footer {
  .btn-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .submit-btn{
      background-color: #5f30e2;
      padding: 10px 20px;
      color: #FFFFFF;
      font-size: 15px;
      border: none;
      box-shadow: none;
      border-radius: 5px;
    }
    .cancel-btn {
      background-color: #e2e2e2;
      color: #3c3c3c;
      font-size: 15px;
      border: none;
      box-shadow: none;
      border-radius: 5px;
      padding: 10px 20px;
    }
  }
}