<div class="dialog-header">
  <div class="row">
    <div class="col-md-12">
      <h3 class="mb-2">Description</h3>
      <p class="description">
        eu tincidunt in leo maecenas pulvinar lobortis est phasellus sit amet
        erat nulla tempus vivamus in felis eu sapien cursus
      </p>
    </div>
    <div class="col-md-6">
      <div class="form-group mb-3">
        <div>
          <label for="userName" class="label">Name</label>
        </div>
        <input
          type="text"
          name="userName"
          id="userName"
          readonly
          value="User 1"
          class="form-control"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group mb-3">
        <div>
          <label for="userName" class="label">Date</label>
        </div>
        <input
          type="text"
          name="userName"
          id="userName"
          readonly
          value="04/03/2023"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="label">Start time</div>
      <p class="flex align-items-center m-0">
        <i class="pi pi-fw pi-clock text-700 mr-2"></i
        ><span>{{ selectedData?.start | date : "shortTime" }}</span>
      </p>
    </div>
    <div class="col-6">
      <div class="label">End time</div>
      <p class="flex align-items-center m-0">
        <i class="pi pi-fw pi-clock text-700 mr-2"></i
        ><span>{{ selectedData?.end | date : "shortTime" }}</span>
      </p>
    </div>
  </div>
  <div class="row my-3">
    <h4 class="mb-2">Choose your plan</h4>
    <div class="col-4">
      <div class="card bg-sky-blue">
        <div class="card-header d-flex flex-column">
          <h5 class="card-title">Web developer</h5>
          <h5 class="price">Rs. 119 /-</h5>
        </div>
        <div class="card-body">
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-blue">
        <div class="card-header d-flex flex-column">
          <h5 class="card-title">Web developer</h5>
          <h5 class="price">Rs. 119 /-</h5>
        </div>
        <div class="card-body">
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header d-flex flex-column">
          <h5 class="card-title">Web developer</h5>
          <h5 class="price">Rs. 119 /-</h5>
        </div>
        <div class="card-body">
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
