<div class="container dashboard-main">
  <div class="meeting-header">
    <h1>Meetings</h1>
  </div>
  <div class="tabs-block">
    <p-tabView class="tabs" [scrollable]="false" [style]="{'width': '100%'}">
      <p-tabPanel
        *ngFor="let header of tabHeaderLabels"
        [header]="header"
        [headerStyleClass]="'tab-header'"
      >
        <ng-container *ngFor="let interview of interviewsData">
          <div *ngIf="interview.title === header">
            <div class="card interview-card">
              <div class="title-block">
                <h2>{{interview?.selectedPlan}}</h2>
                <p class="interview-date">{{interview.date | date: 'mediumDate'}}</p>
                <p class="interview-date">{{interview.startTime | date: 'shortTime'}} - {{interview.endTime | date: 'shortTime'}}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
